<html lang="en">
    <%- include('./partials/header') %>
    <%- include('./partials/styles.ejs') %>
    <body>
        <%- include('./partials/navbar') %>
        <% const message = messages.find(msg => msg.id == id); %>
        <div class="container">
            <% if (message) { %>
                <div class="message-card">
                    <h3><%= message.user %></h3>
                    <p><%= message.text %></p>
                    <small>Posted on <%= message.added.toDateString() %></small>
                </div>
            <% } else { %>
                <p>Message not found. Go back to the <a href="/">messages list</a>.</p>
            <% } %>
        </div>    
        <%- include('./partials/footer') %>
    </body>
</html>